*.allocstubs.o
*.linked.o

*.allocstubs.c
*.allocstubs.i
*.allocstubs.s
*.cil.c
*.cil.i
*.cil.s
*.cma
*.cmi
*.cmo
*.cmx
*.cmxs
*.i
*.i.allocs
*.o.fixuplog
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

*.txt